/* ProductDetailKing.css */

.product-details-container {
    max-width: 800px;
    margin: auto;
    background-color: #f7f7f7; /* Light gray background */
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-details {
    border: 1px solid #ddd;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.product-name {
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
}

.product-description {
    margin-top: 15px;
    color: #666;
}

.product-price {
    margin-top: 15px;
    font-weight: bold;
    color: #333;
}

.product-region,
.product-weight,
.product-flavor-profile,
.product-grind-options,
.product-roast-level {
    margin-top: 15px;
    color: #555;
}

.product-image {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image-container {
    overflow: hidden;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
